#about_ttl, #about_ttl_2, #about_ttl_3 , #about_hr , #about_hr_2, #about_hr_3{
    color: #a4b13b;
    font-size: 20px;
    font-weight: bold;
}
#about_p, #about_p_2, #about_p_3{
    color: #055d75;
    font-size: 16px;
}